html, body {
    margin: 0;
    padding: 0;
}

b {
    font-weight: 700;
}

.heading{
    overflow: hidden;
    background-color:  #fafafa;
    padding-top: 20px;
    border-bottom: 1px solid #80808021;
    min-width: 1100px;
}

.logo {
    float: left;
    padding-left: 15px;
}

.mic{
    height: 23px;
    float: left;
    padding-left: 30px;
    vertical-align: middle;
    position: absolute;
    padding-top: 10px;
}

.mGlass {
    float: left;
    vertical-align: middle;
    height: 27px;
    padding-top: 9px;
    padding-left: 60px;
}

.accountBar{
    float: right;
    margin-top: 10px;
}

.account {
    padding-right: 30px;
    float: right;
    
}

.EHov{
    height: 32px;
    width: 32px;
    float: right;
    background: url(Images/E.jpg);
    background-repeat: no-repeat; 
}

.ELink{
    height: 32px;
    width: 32px;
    margin-right: 30px;
    float: right;
}

.bellHov {
    
    
    height:20px;
    width: 20px;
    float: right;
    background: url(Images/bell.jpg);
    background-repeat: no-repeat;   
    
}

.bellHov:hover{
    background: url(Images/bellBlack.jpg);
    background-repeat: no-repeat;
}

.bellLink{
    margin-top: 6px;
    
    margin-right: 20px;
    width: 20px;
    height: 20px;
    float: right;
}

.appHov{
    
    height: 25px;
    width: 25px;
    float: right;
    background: url(Images/app.svg);
    background-repeat: no-repeat; 
    background-size: 25px 25px;  
}

.appHov:hover{
    background: url(Images/appHover.svg);
    background-repeat: no-repeat; 
    background-size: 25px 25px;
}

.appLink{
    margin-right: 20px;
    margin-top: 4px;
    height: 25px;
    width: 25px;
    float: right;
}

.searchBorder {
    background-color: white;
    background-clip: content-box;
    border-radius: 2px;
    width: 632px;
    height: 44px;
    margin-top: 5px;
    border: none;
    transition: box-shadow .3s;
    float: left;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.searchBorder:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search {
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 9px;
    float: left;
}

#bar_input {
    width: 511px;
    height: 34px;
    line-height: 34px;
    font: 16px arial,sans-serif;
    outline: none;
    border: none;
}

.lowerHead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 782px;
    height: 58px;
}

.leftOpt {
    float: left;
    padding-top: 28px;
    padding-bottom: 13px;
}

.selectedOpt {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}

.toolsOpt {
    border: 1px solid transparent;
    transition: all 0.0s;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #777;
}

.toolsOpt:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.Opt {
    color: #777;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}

.Opt:hover {
    color: #222;
}

.rightOpt{
    float: right;
    padding-top: 28px;
    padding-bottom: 13px;
}

.resultStats {
    padding-left: 166px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #808080;
    height: 43px;
    width: 245px;
    line-height: 43px;
}

.rItem{
    line-height: 1.2;
    padding-bottom: 26px;
}

.resultItemLink{
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a0dab;
    text-decoration: none;
    line-height: 1.2;  
}
.resultItemLink:hover{
    text-decoration: underline;
}


.resultCite{
    color: #006621;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.resultDate{
    color: #808080;
}

.resultSummary{
    line-height: 1.4;
    word-wrap: break-word;
}


.resultItems{
    width: 632px;
    padding-left: 150px;
    padding-right: 264px;
    font-size: 13px;
    font-weight: 400;
    font-family: arial,sans-serif;
    color: #545454;;
}

.relatedHead{
    font-family: arial,sans-serif;
    color: #222;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
}

.relatedLinks{
    font-family: arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #1a0dab;
}

.leftLinks{
    float: left;
    padding-right: 25px;
}

.rightLinks{
    float: left;
}

.lLink{
    text-decoration: none;
    color: #1a0dab;
}

.lLink:hover{
    text-decoration: underline;
}

.navBar{
    padding-left: 162px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
}

.GoHover{
    float: left;
    padding-top: 2px;
}

.Go{
    float: left;
    clear:left;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-right: 1px;    
}

.weAreNumber1{
    float: left;
    clear: left;
    padding-left: 33px;
}

.oSelect{
    float: left;    
}

.o{
    padding-top: 12px;
    padding-right: 1px;
    float: left;
}

.oHover {
    float: left;
    padding-right: 1px;
    padding-top: 12px;
}

.oSpan{
    float: left;
    clear: left;
    padding-bottom: 10px;
}

.Num{
    float: left;
    clear: left;
    padding-left: 5px;
    text-decoration:inherit;
    color: #1a0dab;
}

.oHover a {
    text-decoration: none
}

.oHover a:hover{
    text-decoration: underline;
}

.gleSpan{
    float: left;
    clear: left;
    padding-bottom: 1px;
}

.gleHover {
    float: left;
}

.gleHover a {
    text-decoration: none
}

.gleHover a:hover {
    text-decoration: underline;
}

.Next {
    float: left;
    clear: left;
    padding-left: 50px;
    color: #1a0dab;
    text-decoration:inherit;
}

.selectNum {
    font-size: 13px;
    padding-right: 8px;
}

.footer{
    background-color: #f2f2f2;
    height: 83px;
    background-clip: content-box;
    float: left;
    width: 100%;
}

.location{
    padding-left: 150px;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 40px;
    height: 41px;
    border-bottom: 1px solid #80808021;
    border-top: 1px solid #80808021;
}

.locSpanHome {
    color:#858591;
    font-size: 15px;
    float: left;
}

.locFeatures{
    margin-top: 7px;
    margin-left: 13px;
    border-left: 1px solid rgb(228, 228, 228);
    padding-left: 16px;
    height: 25px;
    line-height: 25px;
    float: left;
}

.locSpan{
    color: #aaa;
}

.locBall{
    padding-right: 4px;
}

.locLink {
    color: #858591;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
}

.features{
    height: 40px;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.fSpan1{
    padding-left: 150px;
}

.fLink{
    padding-right: 27px;
    line-height: 40px;
}