html, body {
    margin: 0;
    padding: 0;
}

.heading{
    overflow: hidden;
    background-color:  #fafafa;
    padding-top: 20px;
    
    
}

.upperHead{
    
}


.logo {
    float: left;
    padding-left: 15px;
    

}

.mic{
    height: 23px;
    float: left;
    padding-left: 30px;
    vertical-align: middle;
    position: absolute;
    padding-top: 10px;
}

.mGlass {
    float: left;
    vertical-align: middle;
    height: 27px;
    padding-top: 9px;
    padding-left: 60px;
}

.accountBar{
    float: right;
}

.account {
    padding-right: 30px;
    float: right;
    
}

.bell {
    padding-top: 6px;
    padding-right: 20px;
    float: right;
}

.app{
    padding-right: 20px;
    padding-top: 3px;
    height: 25px;
    width: 25px;
    float: right;
}
.searchBorder {
    background-color: white;
    width: 632px;
    height: 44px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: none;
    transition: box-shadow .3s;
    float: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    

}

.searchBorder:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.search {
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 9px;
    
    float: left;
}

#bar_input {
    
    width: 511px;
    height: 34px;
    line-height: 34px;
    font: 16px arial,sans-serif;
    outline: none;
    border: none;

}

.lowerHead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 782px;
    height: 58px;
    
}

.leftOpt {
    float: left;
    padding-top: 28px;
    padding-bottom: 13px;
}

.selectedOpt {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}

.toolsOpt {
    
    border: 1px solid transparent;
    transition: all 0.0s;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #777;
    
}

.toolsOpt:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    
}

.Opt {
    color: #777;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}

.Opt:hover {
    color: #222;
}

.rightOpt{
    float: right;
    padding-top: 28px;
    padding-bottom: 13px;
}

.resultStats {
    padding-left: 166px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #808080;
    height: 43px;
    width: 245px;
    line-height: 43px;
}

.rItem{
    line-height: 1.2;
}

.resultItemLink{
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a0dab;
    text-decoration: none;
    line-height: 1.2;

    
}
.resultItemLink:hover{
    text-decoration: underline;
}
.resultItemLink:visited{
    color: #609;
}

.resultCite{
    color: #006621;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.resultDate{
    color: #808080;
}

.resultSummary{
    line-height: 1.4;
    word-wrap: break-word;
}


.resultItems{
    width: 632px;
    padding-left: 150px;
    padding-right: 264px;
    font-size: 13px;
    font-weight: 400;
    font-family: arial,sans-serif;
    color: #545454;;
}
#balls {
    color: rgb(20, 187, 76);
    
}